[submodule "external/protoc-gen-validate"]
	path = external/protoc-gen-validate
	url = https://github.com/envoyproxy/protoc-gen-validate.git
[submodule "external/envoy"]
	path = external/envoy
	url = https://github.com/envoyproxy/envoy.git
[submodule "external/googleapis"]
	path = external/googleapis
	url = https://github.com/googleapis/googleapis
[submodule "external/xds"]
	path = external/xds
	url = git@github.com:cncf/xds.git
[submodule "external/opencensus"]
	path = external/opencensus
	url = git@github.com:census-instrumentation/opencensus-proto.git
[submodule "external/opentelemetry"]
	path = external/opentelemetry
	url = git@github.com:open-telemetry/opentelemetry-proto.git
[submodule "Envoy/envoyproxy"]
	path = Envoy/envoyproxy
	url = git@github.com:envoyproxy/envoy.git
